@page "/apprenticeships/{apprenticeshipId:?}/cannotconfirm"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.CannotConfirmApprenticeshipModel
@{
}

<h1>You can’t confirm your apprenticeship</h1>