@page "/Apprenticeships/{apprenticeshipId:?}/ConfirmYourTrainingProvider"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.ConfirmYourTrainingDetailsModel
@{
}


<h1>ConfirmYourTrainingProvider @Model.ApprenticeshipId</h1>