@page "/apprenticeships/{apprenticeshipId}"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmApprenticeshipModel
@{
    ViewData["Title"] = "Apprentice Commitments";
}

@section AfterHeader {

    <div class="app-page-header">
        <div class="govuk-width-container">
            <div class="govuk-grid-row app-page-header__row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl app-page-header__heading">My apprenticeship</h1>
                </div>
            </div>
        </div>
    </div>

}

<h2 class="govuk-heading-l">Confirm your apprenticeship</h2>
<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You have 14 days to confirm your apprenticeship
    </strong>
</div>
<p>We want to make sure you have everything you need for a successful apprenticeship.</p>
<p>Read through each section below to confirm your apprenticeship with us. If you ever need to check on the details of your apprenticeship, you can come back here.</p>
<p>Your answers are saved automatically, so you can go away and come back if you need to.</p>


<div asp-show="@Model.AllConfirmed" class="govuk-!-margin-bottom-5">
    <h2 class="govuk-heading-m">Your apprenticeship is ready to confirm</h2>
    <div class="app-notification-banner app-notification-banner--success">
        <div class="app-notification-banner--icon-content-wrap">
            <span class="app-notification-banner__icon das-text--success-icon"></span>
            Your apprenticeship is now ready for you to check confirm
        </div>
        <a href="@Model.Forwardlink" class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-0" data-module="govuk-button">Confirm your apprenticeship</a>
    </div>
</div>


<ol class="govuk-list app-status-list">
    <li confirmation-section asp-page="ConfirmYourEmployer" model="Model">
        Your employer
    </li>
    <li confirmation-section asp-page="ConfirmYourTrainingProvider" model="Model">
        Your training provider
    </li>
    <li confirmation-section asp-page="YourApprenticeshipDetails" model="Model">
        Your Apprenticeship Details
    </li>
    <li confirmation-section asp-page="ConfirmYourDelivery" model="Model">
        How your apprenticeship will be delivered
    </li>
    <li confirmation-section asp-page="RolesAndResponsibilities" model="Model">
        Roles and responsibilities
    </li>
    <li confirmation-section asp-page="HelpAndSupport" model="Model">
        Help and support
    </li>
</ol>
