@page "/apprenticeships/{apprenticeshipId}"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmApprenticeshipModel
@{
    ViewData["Title"] = "Apprentice Commitments";
}

@section AfterHeader {

<div class="app-page-header">
    <div class="govuk-width-container">
        <div class="govuk-grid-row app-page-header__row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl app-page-header__heading">My apprenticeship</h1>
            </div>
        </div>
    </div>
</div>

}

<h2 class="govuk-heading-l">Confirm your apprenticeship</h2>
<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        You have 14 days to confirm your apprenticeship
    </strong>
</div>
<p>We want to make sure you have everything you need for a successful apprenticeship.</p>
<p>Read through each section below to confirm your apprenticeship with us. If you ever need to check on the details of your apprenticeship, you can come back here.</p>
<p>Your answers are saved automatically, so you can go away and come back if you need to.</p>
<ol class="govuk-list app-status-list">
    <li confirmation-section asp-page="ConfirmYourEmployer" model="Model">
        Your employer
    </li>
    <li confirmation-section asp-page="ConfirmYourTrainingProvider" model="Model">
        Your training provider
    </li>
    <li confirmation-section asp-page="YourApprenticeshipDetails" model="Model">
        Your Apprenticeship Details
    </li>
    <li confirmation-section asp-page="ConfirmYourDelivery" model="Model">
        How your apprenticeship will be delivered
    </li>
    <li confirmation-section asp-page="ConfirmYourRolesAndResponsibilities" model="Model">
        Roles and responsibilities
    </li>
    <li confirmation-section asp-page="HelpAndSupport" model="Model">
        Help and support
    </li>
</ol>
