@page "/apprenticeships/{apprenticeshipid}/confirmyourdelivery"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmYourDeliveryModel
@{
}

<h2 class="govuk-heading-l">How your apprenticeship will be delivered</h2>
