@page "/apprenticeships/{apprenticeshipId:?}/confirmyourtrainingprovider"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.ConfirmYourTrainingDetailsModel
@{
}


<h1>ConfirmYourTrainingProvider @Model.ApprenticeshipId</h1>