@page "/apprenticeships/{apprenticeshipId}/transactioncomplete"
@model SFA.DAS.ApprenticeCommitments.Web.Pages.Apprenticeships.TransactionCompleteModel
@{
    ViewData["Title"] = "Confirmed your apprenticeship details";
}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                You have confirmed your apprenticeship details.
            </h1>
            <div class="govuk-panel__body">
                @Model.CourseName
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next?</h2>

        <p>We have sent you a confirmation email.</p>
        
        <p>You have completed the confirmation of your apprenticeship details. Your employer and training provider will contact you.</p>

    </div>
</div>
