@page
@model SFA.DAS.ApprenticeCommitments.Web.Pages.ConfirmYourPersonalDetailsModel
@{
    ViewData["Title"] = "Confirm your personal details";

    bool IsInvalid(string propertyName) =>
        ViewData.ModelState[propertyName]?.ValidationState ==
        Microsoft.AspNetCore.Mvc.ModelBinding.ModelValidationState.Invalid;

    string FormGroupValidationClass(string propertyName)
        => IsInvalid(propertyName) ? "govuk-form-group--error" : "";
}

<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">Confirm your personal details</h1>

            <partial name="ValidationSummaryPersonalDetails" />

            <form method="post" class="check-answers-page" id="identity-assurance">
                <input asp-for="EmailAddress">

                <div id="FirstName" class="govuk-form-group @FormGroupValidationClass("FirstName")">
                    <label class="govuk-label govuk-label--m" asp-for="FirstName">First Name</label>
                    <span asp-validation-for="FirstName" class="govuk-error-message"></span>
                    <input class="govuk-input govuk-input--width-20" asp-for="FirstName">
                </div>

                <div id="LastName" class="govuk-form-group @FormGroupValidationClass("Lastname")">
                    <label class="govuk-label govuk-label--m" asp-for="LastName">Last Name</label>
                    <span asp-validation-for="LastName" class="govuk-error-message"></span>
                    <input class="govuk-input govuk-input--width-20" asp-for="LastName">
                </div>

                <div id="DateOfBirth" class="govuk-form-group @FormGroupValidationClass("DateOfBirth")">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint date-of-birth-error">
                        <label class="govuk-label govuk-label--m" asp-for="DateOfBirth">
                            Date of birth
                        </label>
                        <div id="date-of-birth-hint" class="govuk-hint">
                            For example, 12 11 2007
                        </div>
                        <span asp-validation-for="DateOfBirth" class="govuk-error-message"></span>
                        <div class="govuk-date-input" id="date-of-birth">
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Day">Day</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" asp-for="DateOfBirth.Day" type="text" autocomplete="bday-day" pattern="[0-9]*" inputmode="numeric" maxlength="2" min="1" max="31">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Month">Month</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-2 length-limit" asp-for="DateOfBirth.Month" type="text" autocomplete="bday-month" pattern="[0-9]*" inputmode="numeric" maxlength="2" min="1" max="12">
                                </div>
                            </div>
                            <div class="govuk-date-input__item">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-label govuk-date-input__label" asp-for="DateOfBirth.Year">Year</label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 length-limit" asp-for="DateOfBirth.Year" type="text" autocomplete="bday-year" pattern="[0-9]*" inputmode="numeric" maxlength="4" min="1900" max="9999">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <br>

                <button class="govuk-button" data-module="govuk-button" id="identity-assurance-btn">Continue</button>
            </form>
        </div>
    </div>
</div>