@page
@model SFA.DAS.ApprenticeCommitments.Web.Pages.OverviewModel
@{
    ViewData["Title"] = "Apprentice Commitments";
}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Welcome to Apprentice Commitments</h1>
        </div>
    </div>
</div>