@page 
@model SFA.DAS.ApprenticeCommitments.Web.Pages.TermsOfUseModel
@{
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Terms of use of service</h1>

        <p class="govuk-body">To use this service you must be:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>a minimum of 15 years old</li>
            <li>on an apprenticeship</li>
        </ul>

        <h2 class="govuk-heading-m">By using this service you agree to:</h2>

        <ul class="govuk-list govuk-list--bullet">
            <li>use a legitimate email address that only you have access to</li>
            <li>keep your log in details secure and not share them with anyone </li>
            <li>provide true and accurate information</li>
            <li>not allow anyone to confirm any data on your behalf</li>
            <li>not submit data on anyone else’s behalf</li>
            <li>sign out at the end of each session</li>
            <li>adhere to the <a class="govuk-link" href="https://www.legislation.gov.uk/ukpga/1990/18/contents">computer misuse act</a> 1990</li>
            <li>notify us of a change to your email address</li>
        </ul>

        <h2 class="govuk-heading-m">Responsibility for the service</h2>

        <p class="govuk-body">
            This service is run by the Education and Skills Funding Agency (ESFA).
            We do our best to make sure this service is:
        </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>constantly available</li>
            <li>virus free</li>
            <li>providing information that is accurate and complete</li>
            <li>alerting users to any changes to terms of use and updates to the service</li>
        </ul>

        <p class="govuk-body">The ESFA accepts no liability for:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>you being unable to access the service (eg because of excessive demand or because we've taken the service down for maintenance)</li>
            <li>delay or failure in receiving data</li>
            <li>indirect damages arising from you using the service or relying on its content</li>
            <li>the content and availability of external websites that link to the service or which are linked from it</li>
        </ul>

        <form method="post" id="terms-of-use">
            <input type="hidden" asp-for="TermsOfUseAccepted" value="true" />
            <button class="govuk-button" data-module="govuk-button">Save and continue</button>
        </form>
    </div>
</div>