@using SFA.DAS.ApprenticeCommitments.Web.Services.OuterApi;

<p>
    These roles and responsibilities set out what is expected of you.
</p>

<p>
    <strong>I have:</strong>
</p>


@if (Model.DeliveryModel.Equals(DeliveryModel.Regular))
{
    <ul class="govuk-list govuk-list--bullet">
        <li>read and signed my apprenticeship agreement</li>
        <li>discussed my training plan with my employer and training provider</li>
        <li>told my employer and training provider about any learning needs or health issues I have</li>
        <li>been told when my apprenticeship training starts and ends</li>
        <li>understood the roles of my employer and training provider during my apprenticeship</li>
        <li>understood that at least 20% of my normal working hours will be off-the-job training</li>
        <li>understood that I will be assessed by an end-point assessor at the end of my apprenticeship training</li>
    </ul>

    <p>
        <strong>I will:</strong>
    </p>

    <ul class="govuk-list govuk-list--bullet">

        <li>take part in regular progress reviews with my employer and training provider usually every 12 weeks</li>
        <li>attend all my off-the-job training and provide evidence of my recorded hours where needed</li>
        <li>complete all of my learning activities, assignments and exams</li>
        <li>tell my employer in advance when I cannot attend work</li>
        <li>tell my training provider in advance when I cannot attend my off-the-job training</li>
        <li>agree with my employer and training provider when I am ready to complete my end-point assessment</li>
        <li>raise any concerns or complaints through my employer and training providers </li>
    </ul>
}

@if (Model.DeliveryModel.Equals(DeliveryModel.PortableFlexiJob))
{
    <ul class="govuk-list govuk-list--bullet">
        <li>read and signed my apprenticeship agreement</li>
        <li>discussed my training plan with my current employer and my training provider</li>
        <li>told my current employer and my training provider about any learning needs or health issues I have</li>
        <li>been told when my apprenticeship training starts and ends</li>
        <li>understood that this is a portable flexi-job apprenticeship and that I will move between different jobs during my apprenticeship</li>
        <li>understood the roles of my employers and training provider during my apprenticeship</li>
        <li>understood that at least 20% of my normal working hours will be off-the-job training</li>
        <li>understood that I will be assessed by an end-point assessor at the end of my apprenticeship training</li>
    </ul>

    <p>
        <strong>I will:</strong>
    </p>

    <ul class="govuk-list govuk-list--bullet">

        <li>take part in regular progress reviews with my employer and training provider usually every 12 weeks</li>
        <li>attend all my off-the-job training and provide evidence of my recorded hours where needed</li>
        <li>complete all of my learning activities, assignments and exams</li>
        <li>share my learning and progress to date with each new employer</li>
        <li>find my next job when the current job ends, until I am ready to complete my end-point assessment</li>
        <li>tell my employer in advance when I cannot attend work</li>
        <li>tell my training provider in advance when I cannot attend my off-the-job training</li>
        <li>agree with my employer and training provider when I am ready to complete my end-point assessment</li>
        <li>raise any concerns or complaints through my employer and training providers </li>
    </ul>
}

@if (Model.DeliveryModel.Equals(DeliveryModel.FlexiJobAgency))
{
    <ul class="govuk-list govuk-list--bullet">
        <li>read and signed my apprenticeship agreement</li>
        <li>discussed my training plan with my employer and my training provider</li>
        <li>told my employer and my training provider about any learning needs or health issues I have</li>
        <li>been told when my apprenticeship training starts and ends</li>
        <li>understood that this is a flexi-job agency apprenticeship and that I will move between different placements during my apprenticeship</li>
        <li>understood the role of my employer and training provider during my apprenticeship</li>
        <li>understood that at least 20% of my normal working hours will be off-the-job training</li>
        <li>understood that I will be assessed by an end-point assessor at the end of my apprenticeship training</li>
    </ul>

    <p>
        <strong>I will:</strong>
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>take part in regular progress reviews with my employer and training provider every 8 to 12 weeks</li>
        <li>attend all my off-the-job training and provide evidence of my recorded hours where needed</li>
        <li>complete all of my learning activities, assignments and exams</li>
        <li>tell my employer in advance when I cannot attend work</li>
        <li>tell my training provider in advance when I cannot attend my off-the-job training</li>
        <li>agree with my employer and training provider when I am ready to complete my end-point assessment</li>
        <li>raise any concerns or complaints through my employer and training provider</li>
    </ul>
}

