<p>
    These roles and responsibilities set out what is expected of you.
</p>

<p>
    <strong>I have:</strong>
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>read and signed my <a href="#" class="govuk-link" rel="noreferrer noopener" target="_blank">apprenticeship agreement</a></li>
    <li>discussed my training plan with my employer and training provider</li>
    <li>told my employer and training provider about any learning needs or health issues I have</li>
    <li>been told when my apprenticeship training starts and ends</li>
    <li>understood the roles of my employer and training provider during my apprenticeship</li>
    <li>understood that at least 20% of my normal working hours will be off the job training</li>
    <li>understood that I will be assessed by an end point assessor at the end of my apprenticeship training</li>
</ul>

<p>
    <strong>I will:</strong>
</p>

<ul class="govuk-list govuk-list--bullet">

    <li>take part in regular progress reviews with my employer and training provider usually every 12 weeks</li>
    <li>attend all my off-the-job training and provide evidence of my recorded hours where needed</li>
    <li>complete all of my learning activities, assignments and exams</li>
    <li>tell my employer in advance when I cannot attend work</li>
    <li>tell my training provider in advance when I cannot attend my off-the-job training</li>
    <li>agree with my employer and training provider when I am ready to complete my end point assessment</li>
    <li>raise any concerns or complaints through my employer and training providers </li>
</ul>