<p>
    The roles and responsibilities set out what is expected of your employer.
</p>

<p>
    <strong>They have:</strong>
</p>

<ul class="govuk-list govuk-list--bullet">

    <li>signed and provided you with a copy of your apprenticeship agreement that you agreed together</li>
    <li>contributed to a training plan with you and your training provider</li>
    <li>committed to working with you and your training provider to support your learning needs</li>
    <li asp-irregular-delivery="@Model">agreed your employment start and end dates with a minimum duration of 3 months</li>
</ul>

<p>
    <strong>They will: </strong>
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>enable you to complete your off-the-job training during your normal working hours, which will be <strong>at least 20% of your working hours</strong></li>
    <li>take part in regular progress reviews with you and your training provider usually every 12 weeks</li>
    <li>work with you and your training provider to resolve any concerns or complaints</li>
    <li>carry out an end of employment review when your job ends</li>
</ul>

