<p>
    The roles and responsibilities set out what is expected of your training provider.
</p>
<p>
    <strong>They have:</strong>
</p>

<ul class="govuk-list govuk-list--bullet">
    <li>a copy of the apprenticeship agreement signed by you and your employer</li>
    <li asp-irregular-delivery="@Model">discussed with you how your portable flexi-job apprenticeship will be delivered</li>
    <li>discussed your training plan with you and your employer and ensured it accounts for prior learning, English and maths needs and additional learning support</li>
    <li>told you and your employer your apprenticeship training start and end dates</li>
    <li>explained how off-the-job training will be delivered</li>
    <li>told you and your employer if they will use sub-contracted training providers to deliver any of your training </li>
    <li>explained that you will be assessed by an end-point assessment organisation</li>
</ul>

<p>
    <strong>They will: </strong>
</p>
<ul class="govuk-list govuk-list--bullet">
    <li>manage the quality and delivery of your off-the-job training and making sure it is logged </li>
    <li asp-irregular-delivery="@Model">support you in finding jobs as you progress through your apprenticeship</li>
    <li>take responsibility for regular progress reviews between all parties usually every 12 weeks</li>
    <li asp-irregular-delivery="@Model">make sure that you and each employer can see a summary of your learning and progress to date</li>
    <li asp-regular-delivery="@Model">maintain contact with you if you are on an extended break in learning</li>
</ul>
